* {
    margin: 0;
    padding: 0;
    background-color: grey;
}
.box1{
    width:50vw;
    height:80vh;
    position:absolute;
    top:300px;
    left:400px;
    border-radius:20px;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;

}
/*img{
    width:30vw;
    height: 35vh;
    position:relative;
    top: 100px;
    left: 400px;
    border-radius:20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 2px solid #fff;

}
h1{
    text-align:center;
    color:#fff;
    position:absolute;
    top: 360px;
    left: 500px;
}
p{
    text-align:center;
    color:#fff;
     position:absolute;
      top: 450px;
}*/