body{
    background-color:#1f1f1f;
}
#contact{
    text-align: center;
    padding: 50px;
    color: aliceblue;
    font-size: 23;
    border: 3px solid white; 
    }

input, textarea{
    width: 300px;
    padding: 10px;
    margin: 10px;
    color: rgb(154, 158, 156);
    padding-top: 25;
    text-align: center;
}
.message-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button{
    padding: 10px 20px;
    cursor: pointer;
    color: chartreuse;
}
button:hover{
    color: aqua;
}
textarea{
 text-align: center;
    padding-top: 25px;
}
